global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'dashboard'
    file_sd_configs:
      - files:
         - /etc/prometheus/targets/targets.json
        refresh_interval: 10s
